.mcb-section .mcb-wrap .mcb-item-4faf95c1a .title {
  background-position: center center;
  text-align: center;
  text-transform: uppercase;
}

.mcb-section-73647cd9f {
  background-color: #000000;
  padding: Array;
}