.mcb-section .mcb-wrap .mcb-item-xms3i8wbe .mfn-checkout-steps li .mfn-step-label {
  color: #18302B;
  font-size: 18px;
  line-height: 1.3em;
}

.mcb-section .mcb-wrap .mcb-item-xms3i8wbe .mcb-column-inner-xms3i8wbe {
  margin-bottom: 0px;
  margin-top: 30px;
}

.mcb-section .mcb-wrap .mcb-item-xms3i8wbe .mfn-checkout-steps {
  --mfn-order-steps-number-width: 30px;
}

.mcb-section .mcb-wrap .mcb-item-xms3i8wbe .mfn-checkout-steps li .mfn-step-number {
  font-size: 13px;
}

.mcb-section .mcb-wrap-dk9jyjp9p .mcb-wrap-inner-dk9jyjp9p {
  border-style: solid;
  border-color: #D9C7B6;
  border-width: 0 0 1px 0;
  margin-bottom: 40px;
}

@media(max-width: 959px) {
  .mcb-section .mcb-wrap .mcb-item-xms3i8wbe .mfn-checkout-steps li .mfn-step-label {
    font-size: 15px;
  }
}

@media(max-width: 767px) {
  .mcb-section .mcb-wrap .mcb-item-xms3i8wbe .mfn-checkout-steps li .mfn-step-label {
    font-size: 14px;
  }
}