.mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box.mfn-banner-box-boxed .banner-wrapper {
  width: 60%;
}

.mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-wrapper {
  max-width: 100%;
}

.mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box {
  --mfn-banner-box-hidden-content-gap: 5px;
}

.mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-desc {
  align-items: flex-end;
}

.mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-wrapper .excerpt {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-wrapper .cta-text {
  font-family: 'Big Shoulders Text';
  line-height: 1em;
  font-weight: 600;
  color: #EBD8C5;
}

.mcb-section .mcb-wrap-f6fs8qd74 .mcb-wrap-inner-f6fs8qd74 {
  justify-content: center;
}

.mcb-section-o8r86kgong {
  background-color: #122924;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mcb-section-o8r86kgong .mcb-section-inner-o8r86kgong {
  align-items: flex-start;
}

.mcb-section-o8r86kgong .mcb-section-inner-o8r86kgong .mfn-queryloop-item-wrapper.mfn-ql-item-default {
  width: 23%;
}

.mcb-section-o8r86kgong .mcb-section-inner-o8r86kgong .mfn-queryloop-item-wrapper {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #203833;
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

@media(max-width: 1440px) {
  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box.mfn-banner-box-boxed .banner-wrapper {
    width: 60%;
  }

  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-wrapper {
    max-width: 100%;
  }

  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box {
    --mfn-banner-box-hidden-content-gap: 15px;
  }
}

@media(max-width: 959px) {
  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box.mfn-banner-box-boxed .banner-wrapper {
    width: 60%;
  }

  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-wrapper {
    max-width: 100%;
  }

  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box {
    --mfn-banner-box-hidden-content-gap: 15px;
  }
}

@media(max-width: 767px) {
  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box.mfn-banner-box-boxed .banner-wrapper {
    width: 60%;
  }

  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box .banner-wrapper {
    max-width: 100%;
  }

  .mcb-section .mcb-wrap .mcb-item-kzoari9 .mfn-banner-box {
    --mfn-banner-box-hidden-content-gap: 15px;
  }
}