.mcb-section .mcb-wrap .mcb-item-9b22bdc4e .mfn-divider-inner {
  --mfn-divider-gap-top: 0px;
  --mfn-divider-gap-bottom: 0px;
  --mfn-divider-border-width: 1px;
  --mfn-divider-border-color: #EAECF0;
}

.mcb-section .mcb-wrap .mcb-item-541bbc8c8 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-541bbc8c8 .mcb-column-inner-541bbc8c8 {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-3b522cc3e .wp-caption-text {
  background-color: rgba(0, 0, 0, 0);
  color: #786B5E;
  text-align: left;
  font-family: 'Big Shoulders Text';
  font-weight: 600;
}

.mcb-section .mcb-wrap .mcb-item-f028dada9 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-03fbf7751 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-03fbf7751 .title,
.mcb-section .mcb-wrap .mcb-item-03fbf7751 .title a {
  color: #786B5E;
}

.mcb-section .mcb-wrap .mcb-item-03fbf7751 .mcb-column-inner-03fbf7751 {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap-3c855324d .mcb-wrap-inner-3c855324d {
  border-style: solid;
  border-color: #BF8139;
  border-width: 0 0 0 2px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.mcb-section .mcb-wrap .mcb-item-c76db39d8 .mcb-column-inner-c76db39d8 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-920f707a4 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-920f707a4 .mcb-column-inner-920f707a4 {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-def7e93d0 .mcb-column-inner-def7e93d0 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-520bb0edc .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-520bb0edc .mcb-column-inner-520bb0edc {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-172fec390 .mcb-column-inner-172fec390 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-69261578b .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-69261578b .mcb-column-inner-69261578b {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-e85575d49 .mcb-column-inner-e85575d49 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap-e285eff34 .mcb-wrap-inner-e285eff34 {
  padding-top: 30px;
  padding-right: 18px;
  padding-bottom: 30px;
  padding-left: 18px;
  background-color: #F0E1D3;
}

.mcb-section-e0c56b48e.custom-width .mcb-section-inner-e0c56b48e {
  max-width: 720px;
}