.mcb-section .mcb-wrap .mcb-item-cac226bab .mfn-divider-inner {
  --mfn-divider-gap-top: 0px;
  --mfn-divider-gap-bottom: 0px;
  --mfn-divider-border-width: 1px;
  --mfn-divider-border-color: #EAECF0;
}

.mcb-section .mcb-wrap .mcb-item-af92a3083 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-af92a3083 .mcb-column-inner-af92a3083 {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-5f9983443 .wp-caption-text {
  background-color: rgba(0, 0, 0, 0);
  color: #786B5E;
  text-align: left;
  font-family: 'Big Shoulders Text';
  font-weight: 600;
}

.mcb-section .mcb-wrap .mcb-item-0dd7cd023 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-674c3613d .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-674c3613d .title,
.mcb-section .mcb-wrap .mcb-item-674c3613d .title a {
  color: #786B5E;
}

.mcb-section .mcb-wrap .mcb-item-674c3613d .mcb-column-inner-674c3613d {
  margin-bottom: 0px;
}

.mcb-section .mcb-wrap-59f33130e .mcb-wrap-inner-59f33130e {
  border-style: solid;
  border-color: #BF8139;
  border-width: 0 0 0 2px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.mcb-section .mcb-wrap .mcb-item-371941b6f .mcb-column-inner-371941b6f {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-792ca6c63 .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-792ca6c63 .mcb-column-inner-792ca6c63 {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-1ab396cf0 .mcb-column-inner-1ab396cf0 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-fd69e8a3e .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-fd69e8a3e .mcb-column-inner-fd69e8a3e {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-ff3021d08 .mcb-column-inner-ff3021d08 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-415a7789e .title {
  background-position: center center;
}

.mcb-section .mcb-wrap .mcb-item-415a7789e .mcb-column-inner-415a7789e {
  margin-bottom: 20px;
}

.mcb-section .mcb-wrap .mcb-item-b1264edf0 .mcb-column-inner-b1264edf0 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap-26799d6db .mcb-wrap-inner-26799d6db {
  padding-top: 30px;
  padding-right: 18px;
  padding-bottom: 30px;
  padding-left: 18px;
  background-color: #F0E1D3;
}

.mcb-section-791a936dc.custom-width .mcb-section-inner-791a936dc {
  max-width: 720px;
}