.mcb-section .mcb-wrap .mcb-item-cnt4ucyg .title {
  background-position: center center;
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-cnt4ucyg .mcb-column-inner-cnt4ucyg {
  margin-bottom: 30px;
}

.mcb-section-b5irw6wtd {
  padding-top: 200px;
  padding-bottom: 60px;
  background-color: #000000;
}

.mcb-section .mcb-wrap .mcb-item-48js43xe .mcb-column-inner-48js43xe {
  margin-bottom: 10px;
}

.mcb-section .mcb-wrap .mcb-item-48js43xe .title {
  color: #FACE00;
}

.mcb-section .mcb-wrap .mcb-item-rt0fcd6 .woocommerce-product-details__short-description {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Big Shoulders Text';
  color: #FACE00;
}

.mcb-section .mcb-wrap .mcb-item-rt0fcd6 .mcb-column-inner-rt0fcd6 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-5tvzqew2 .mcb-column-inner-5tvzqew2 {
  margin-bottom: 30px;
}

.mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .price {
  font-size: 23px;
  line-height: 32px;
  font-weight: bold;
  color: #122924;
}

.mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .price>del {
  color: #BF8139;
  font-size: 23px;
  line-height: 32px;
}

.mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .mcb-column-inner-uiiyzrdvw {
  margin-bottom: 20px;
}

.woocommerce #Content .mcb-section .mcb-wrap .mcb-item-hk04r35rv .quantity input.qty {
  background: #F5E9DC;
  color: #122924;
  border-color: #F5E9DC;
}

.woocommerce #Content .mcb-section .mcb-wrap .mcb-item-hk04r35rv .quantity a.quantity-change {
  color: #122924;
}

.mcb-section .mcb-wrap-n26ny60jo {
  align-self: center;
}

.mcb-section-gpabsx0e {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #3B3B3B;
}

.mcb-section .mcb-wrap .mcb-item-66adub89e .image_frame {
  width: 40px;
}

.mcb-section .mcb-wrap .mcb-item-66adub89e .mcb-column-inner-66adub89e {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-o3q95k18lh .mfn-related>.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.mcb-section .mcb-wrap .mcb-item-o3q95k18lh ul.products li.product .title {
  color: #FACE00;
}

.mcb-section-kvpxjsge9 {
  padding-bottom: 80px;
  background-color: #3B3B3B;
}

@media(max-width: 959px) {
  .mcb-section-b5irw6wtd {
    padding-top: 140px;
    padding-bottom: 40px;
  }

  .mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .price {
    font-size: 20px;
    line-height: 30px;
  }

  .mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .price>del {
    font-size: 20px;
    line-height: 30px;
  }

  .mcb-section-kvpxjsge9 {
    padding-bottom: 40px;
  }
}

@media(max-width: 767px) {
  .mcb-section-b5irw6wtd {
    padding-bottom: 40px;
  }

  .mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .price {
    font-size: 18px;
    line-height: 28px;
  }

  .mcb-section .mcb-wrap .mcb-item-uiiyzrdvw .price>del {
    font-size: 18px;
    line-height: 28px;
  }

  .mcb-section-kvpxjsge9 {
    padding-bottom: 40px;
  }
}