.mcb-section .mcb-wrap-7sofw87yv .mcb-wrap-inner-7sofw87yv {
  border-color: #2F4843;
  border-width: 0 1px 0 0;
  align-content: center;
  border-style: none;
  align-items: center;
  justify-content: center;
}

.mcb-section .mcb-wrap-7sofw87yv {
  align-self: center;
}

.mcb-section .mcb-wrap .mcb-item-ex77k6sbr .icon-wrapper i {
  font-size: 30px;
  color: #FACE00;
}

.mcb-section .mcb-wrap .mcb-item-ex77k6sbr .icon-wrapper {
  width: 50px;
  height: 50px;
}

.mcb-section .mcb-wrap .mcb-item-ex77k6sbr .title {
  color: #FFFFFF;
}

.mcb-section .mcb-wrap .mcb-item-ex77k6sbr .mfn-icon-box {
  padding-left: 0px;
}

.mcb-section .mcb-wrap .mcb-item-ex77k6sbr .desc-wrapper {
  text-align: center;
}

.mcb-section .mcb-wrap-089hyaysk {
  flex-grow: unset;
  width: 70%;
}

.mcb-section .mcb-wrap .mcb-item-tueh2j9h .mfn-icon-2 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: #FACE00;
}

.mcb-section .mcb-wrap .mcb-item-tueh2j9h {
  width: 50%;
}

.mcb-section .mcb-wrap .mcb-item-mdmh9d2ff .mfn-icon-2 {
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: #FACE00;
}

.mcb-section .mcb-wrap .mcb-item-mdmh9d2ff {
  width: 50%;
}

.mcb-section .mcb-wrap-rhtgwi4f {
  flex-grow: unset;
  width: 30%;
}

.mcb-section .mcb-wrap-m1r5fk4aj .mcb-wrap-inner-m1r5fk4aj {
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 30px;
  align-items: center;
  justify-content: space-around;
}

.mcb-section .mcb-wrap-m1r5fk4aj {
  align-self: center;
}

.mcb-section-bp7j53buw {
  background-color: #000000;
  border-width: 0;
  border-style: none;
  margin-top: 30px;
}

.mcb-section-bp7j53buw .mcb-section-inner-bp7j53buw {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mcb-section .mcb-wrap .mcb-item-fduok7hi .desc {
  text-align: center;
}

.mcb-section .mcb-wrap .mcb-item-fduok7hi .desc,
.mcb-section .mcb-wrap .mcb-item-fduok7hi .desc a {
  color: #FACE00;
}

.mcb-section-krs0swujt {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #000000;
}

@media(max-width: 1440px) {
  .mcb-section .mcb-wrap-089hyaysk {
    flex-grow: unset;
    width: 70%;
  }

  .mcb-section .mcb-wrap .mcb-item-tueh2j9h {
    width: 50%;
  }

  .mcb-section .mcb-wrap .mcb-item-mdmh9d2ff {
    width: 50%;
  }

  .mcb-section .mcb-wrap-rhtgwi4f {
    flex-grow: unset;
    width: 30%;
  }
}

@media(max-width: 959px) {
  .mcb-section .mcb-wrap .mcb-item-ex77k6sbr .desc-wrapper {
    /* padding-right:25px; */
    text-align: center;
  }

  .mcb-section .mcb-wrap-089hyaysk {
    flex-grow: unset;
    width: 100%;
  }

  .mcb-section .mcb-wrap .mcb-item-tueh2j9h {
    width: 50%;
  }

  .mcb-section .mcb-wrap .mcb-item-tueh2j9h .mcb-column-inner-tueh2j9h {
    /* padding-left:45px; */
  }

  .mcb-section .mcb-wrap .mcb-item-mdmh9d2ff {
    width: 50%;
  }

  .mcb-section .mcb-wrap .mcb-item-mdmh9d2ff .mcb-column-inner-mdmh9d2ff {
    /* padding-left:45px; */
  }

  .mcb-section .mcb-wrap-rhtgwi4f {
    flex-grow: unset;
    width: 100%;
  }
}

@media(max-width: 767px) {
  .mcb-section .mcb-wrap-7sofw87yv .mcb-wrap-inner-7sofw87yv {
    border-width: 0 0px 0 0;
  }

  .mcb-section .mcb-wrap .mcb-item-ex77k6sbr .desc-wrapper {
    /* padding-left:90px; */
  }

  .mcb-section .mcb-wrap-089hyaysk {
    flex-grow: unset;
    width: 100%;
  }

  .mcb-section .mcb-wrap .mcb-item-tueh2j9h {
    width: 50%;
  }

  .mcb-section .mcb-wrap .mcb-item-tueh2j9h .mcb-column-inner-tueh2j9h {
    /* padding-left:57px; */
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .mcb-section .mcb-wrap .mcb-item-mdmh9d2ff {
    width: 50%;
  }

  .mcb-section .mcb-wrap .mcb-item-mdmh9d2ff .mcb-column-inner-mdmh9d2ff {
    /* padding-left:57px; */
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .mcb-section .mcb-wrap-rhtgwi4f {
    flex-grow: unset;
    width: 100%;
  }

  .mcb-section-bp7j53buw {
    border-width: 0 0 0 0;
  }
}